/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.html {
  width: 100vh;
  height: 100vh;
} 


.App {
  width: 100vw;
  height: 100vh;
}

.welcome_pic {
  width: 90%;
  margin-top: 1em;
  border: 5px solid grey;
}
/* 
#E9D197 */
body {
  background-color: #EADEB8;
  margin: 0;
  padding: 0;
}

.SideBar {
  height: 100%;
  width: 250px;
  background-color:#A09F57;

}



